/* Data Table Background Title Row */
.table th {
background-color: #3c8dbc;
color: white;
}

.table-hover>tbody>tr:hover {
    background-color: #cb1745;
}

.table > tr.active {
  background:green;
}
